/* the styles for the elements */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 600px;
    border: 3px solid #931420;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    background-color:  #fffded;
}

html{
    background-image:
            -webkit-linear-gradient(
                    to bottom, white 0%, white 100%);



}

/* the styles for the header */
header img {
    float: left;
    padding-right:30px;
    padding-left:30px;
}
header {
    border-bottom:3px solid #931420;
    padding-top:1.5em;
    padding-bottom:2.0em;}
html header {
    background-image:
            -webkit-linear-gradient(
                    to bottom, white 0%, #f6bb73 0%);
    background-image:
            -moz-linear-gradient(
                    to bottom, white 0%, #f6bb73 30%);
    background-image:
            -o-linear-gradient(
                    to bottom, white 50%, #f6bb73 80%);
    background-image:
            linear-gradient(
                    to bottom, white 0%, #f6bb73 100%);
}


h2{font-size: 170%; color: #800000; }


/* the styles for the section */
main {
    clear: left;
    padding-right: 30px;
    padding-left: 30px;}
main h1{font-size: 150%; padding-top: .3em; padding-bottom: .3em;
    border-bottom: 3px solid #931420;
    border-top: 3px solid #931420;}
main h2{font-size: 130%; color: #800000; padding-top: 0.5em; padding-bottom: 0.25em;}
main h3{font-size: 105%; padding-bottom: 0.25em;}
p{padding-bottom: 0.5em;}
p1{padding-right: 2em; padding-left: 2em;}
u1{padding-bottom: 0.25em; padding-left: 1.25em;}
l1{padding-bottom: 0.35em;}
footer p {text-align: center;
    background:  #800000;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

