/* the styles for the elements */
* {
    margin: 0;
    padding: 0;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 99%;
    max-width: 960px;
    border: 3px solid #931420;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    background-color:  #fffded;
}

html{
    background-image:
            -webkit-linear-gradient(
                    to bottom, white 0%, white 100%);



}

/* the styles for the header */
header img {
    float: right;
    padding-right: 3.1%;
    padding-left: 3.1%;
    padding-bottom: 1em;
}
header {
    border-bottom:3px solid #931420;
    padding-top:1.5em;
    padding-bottom:2.0em;
    background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%,
    white 50%, #f6bb73 89%, #f6bb73 100%);
}

header h2{font-size: 170%;
    color: #800000;
    padding-top:1.5em;
    padding-bottom: .25em;}
header h3 {
    font-size: 105%;
    font-style: italic;
    padding-bottom: .25em;

}



#nav_menu_1 u1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
}
#nav_menu_1 u1 li {
    display: inline;
    float: left;
    width: 16.7%;
}

#nav_menu_1 u1 li a {
    display: block;

    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    background-color: #800000;
    color: white;
    font-weight: bold;
}

#nav_menu_1 u1 li a.current {
    color: yellow;
}

#nav_menu_1 u1 ul {
    display: none;
    position: absolute;
    top: 100%;
}

#nav_menu_1 u1 ul li {
    float: none;
    position: relative;
}

#nav_menu_1 u1 li:hover > ul{
    display: block;
    background-color: #800000;
    color: white;
}
#nav_menu_1 > ul::after {
    content: "";
    display: block;
    clear: both;
}



section {
    width: 54.7%;
    float: right;
    padding-right: 2.1%;
    padding-left: 2.1%;
    padding-bottom: 20px;
}

section h1 {
    font-size: 150%;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    margin-top: 0;
    margin-bottom: 0;

}


section h2 {
    font-size: 130%;
    color:#800000;
    padding:.5em 0 .25em;
}

section h3 {
    font-size: 105%;
    padding-bottom: .25em;
}
section blockquote{
    font-style: italic;
    padding-right:2em;
    padding-left:2em;
}
section ul {
    padding-bottom: .25em;
    padding-left:1.25em;
}
section li {
    padding-bottom: .35em;
}
article {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top: 2px solid #800000;
    border-bottom: 2px solid #800000;
}

article img {
    float: right;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    border: 1px solid black;

}

article h2 {
    padding-top: 0px;
}
aside {
    width: 22.4%;

    padding-left: 2.1%;
    padding-right: 20px;
}
aside img {
    padding-bottom: 1em;

}
main aside h2{font-size: 130%; color: #800000; padding-top: 0.5em; padding-bottom: 0.25em;}
main aside h3{font-size: 105%; padding-bottom: 0.25em;}
main aside h3 a:hover{
    font-style: italic;

}
.shadow {
    text-shadow: 2px 2px 2px;
    color: #800000;
}

/* the styles for the section */
main {
    clear: left;
    background-color:  #fffded;
}



main h2{font-size: 130%; color: #800000; padding-top: 0.5em; padding-bottom: 0.25em;}
main h3{font-size: 105%; padding-bottom: 0.25em;}
main h3 a:hover{
    font-style: italic;

}
blockquote{
    font-style: italic;
    padding-right:2em;
    padding-left:2em;
}
main p{padding-bottom: 0.5em;}
p1{padding-right: 2em; padding-left: 2em;}
main ul{padding-bottom: 0.25em; padding-left: 1.25em;}
main li{padding-bottom: 0.35em; padding-left: 2em; list-style-type: circle;}

footer{
    clear: both;
    border-top: 3px solid #931420;
    background-color: #931420;
    border-bottom: 3px solid #931420;

}
footer p {text-align: center;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;

}
/* tablet portrait layout (768px to 959px) */
@media only screen and (max-width: 959px)
{   section h1 {
        font-size: 135%;
    }
    section h2 {
        font-size: 120%;
    }
    aside h2 {
        font-size: 120%;
    }
}
@media only screen and (max-width: 767px) {

    header img {
        clear: both;
        max-width: 30%;
    }

    header {
        text-align: center;
    }

    section {
        clear: both;
        padding-right: 2.1%;
        padding-left: 2.1%;
        width: 97.9%;
    }

    aside {
            clear: both;
            padding-right: 2.1%;
            padding-left: 2.1%;
            width: 97.9%;

    }
    aside div {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
#mobile_menu{display: none}
@media only screen and (max-width: 778px) {

    base {
        font-size: 90%;
    }
    /* hide the mobile menu */
    #nav_menu_1 { display: none; }
    /* display the mobile menu */
    #mobile_menu { display: block; }
    .slicknav_menu {background-color: #800000 !important; }
}


